<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754467622956-hu672nekqltjv3j3lp3sqa6ldeqdslsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754467622956-hu672nekqltjv3j3lp3sqa6ldeqdslsc</string>
	<key>API_KEY</key>
	<string>AIzaSyAQSZyCoiJf8DVCoA44ZjbuTMrNKGI2JhU</string>
	<key>GCM_SENDER_ID</key>
	<string>754467622956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativity.threerood</string>
	<key>PROJECT_ID</key>
	<string>roodq8</string>
	<key>STORAGE_BUCKET</key>
	<string>roodq8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754467622956:ios:46ba7305b68b2d44</string>
	<key>DATABASE_URL</key>
	<string>https://roodq8.firebaseio.com</string>
</dict>
</plist>